

body{
background-color: #ADD8E6
}

h1{
color: #0090CD; 
text-decoration: bold; 
}

p{
font-family: "Helvetica"
}

a{color: #10008B;
 }

.sorts {
	padding: 10px;
}

.square {
	display: block;
  width: 300px;
  padding: 10px;
  background-color: #FFFFF9;
  border-radius: 20px;
  margin: 5px;
  word-wrap: break-word;
  text-align: left;
  float: left;
}

.title {
	font-size: 20px
}



.description {
	font-size: 17px
}