<!DOCTYPE html>
<html>
<head>
  <link href="/assets/bootstrap.css?body=1" media="screen" rel="stylesheet">
  <link href="/assets/custom.css?body=1" media="screen" rel="stylesheet">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %> 
  <title>AntiProcrastination</title>
</head>
<body>
<%= render 'header' %>
<%= yield %>
<%= render 'footer' %>

</body>
</html>
